# excluimos de los commits los módulos de node
node_modules/

# excluimos los ficheros terminados en caracteres ~ que va dejando el editor vi
*~

# Excluimos DS_Store
.DS_Store

*.codekit

app/public/bower_components/jquery/src/core/min/parseHTML-ck.js

app/public/bower_components/jquery/src/core/var/min/rsingleTag-ck.js

app/public/bower_components/jquery/src/css/var/min/cssExpand-ck.js

app/public/bower_components/jquery/src/css/min/swap-ck.js

app/public/bower_components/jquery/src/css/var/min/rmargin-ck.js

app/public/bower_components/jquery/src/css/var/min/rnumnonpx-ck.js

app/public/bower_components/jquery/src/effects/min/animatedSelector-ck.js

app/public/bower_components/jquery/src/event/min/alias-ck.js

app/public/bower_components/jquery/src/exports/min/amd-ck.js

app/public/bower_components/jquery/src/exports/min/global-ck.js

app/public/bower_components/jquery/src/manipulation/var/min/rcheckableType-ck.js

app/public/bower_components/jquery/src/min/selector-ck.js

app/public/bower_components/jquery/src/queue/min/delay-ck.js

app/public/bower_components/jquery/src/sizzle/dist/min/sizzle-ck.js

app/public/bower_components/jquery/src/sizzle/dist/min/sizzle.min-ck.js

app/public/bower_components/jquery/src/traversing/var/min/rneedsContext-ck.js

app/public/bower_components/jquery/src/var/min/class2type-ck.js

app/public/bower_components/jquery/src/var/min/hasOwn-ck.js
