#footer
  p &reg; 2014 Compart.io &middot; Consumo Colaborativo &middot; Join us! <a href="https://github.com/consumo-colaborativo" target="_blank"><img src="img/github.png" alt="github"></a> <!-- &middot; <a href="http://creativecommons.org/licenses/by-sa/3.0/es/" target="_blank"><img src="img/cclogo.png" alt="creative commons"></a> -->