!!! 5
html(lang="es")
  head
    title Compart.io &middot Consumo Colaborativo
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Compart.io A place to Get & Share ')
    meta(name='author', content='Compart.io Developer Team')

    link(href='vendor/foundation.min.js', rel='stylesheet')
    link(href='stylesheets/foundation.css', rel='stylesheet')     
    
    link(href='img/favicon.png', rel='shortcut icon')

    link(href='vendor/modernizr.js')

  body

body
  include includes/top-bar

  include includes/footer