extends layout

block content

    #contenedor.container
      p <a href="https://www.facebook.com/groups/310342205721740/?fref=ts" target="_blank"><img src="img/consumocolaborativo_logo.jpg" alt="cc_logo"></a><hr />
      

block scripts

      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
      script(src='/vendor/jquery.js')
      script(src='/js/views/landing.js')
      //script(src='/js/views/prueba.js')
      script(src='/js/form-validators/EmailValidator.js')
