!!! 5
html(lang="es")
  head

    - var title = title || "compart.io &middot Consumo Colaborativo"
    title #{title}

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Compart.io A place to Get & Share ')
    meta(name='author', content='Compart.io Developer Team')

    link(href='vendor/foundation.min.js', rel='stylesheet')
    link(href='stylesheets/foundation.css', rel='stylesheet')     
    link(href='img/favicon.png', rel='shortcut icon')

    link(href='vendor/modernizr.js')

  body

      // container

    block content
    block scripts

      // Included JS Files
      script(src='javascripts/jquery.min.js')
      script(src='javascripts/modernizr.foundation.js')
      script(src='javascripts/foundation.js')
      script(src='javascripts/app.js')

