doctype html
html(lang="es")
  head
    title #{title}

    meta(name='description', content='#{description}')      
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Compart.io Developer Team')

    link(href='vendor/foundation.min.js', rel='stylesheet')
    link(href='stylesheets/foundation.css', rel='stylesheet')     
    link(href='img/favicon.png', rel='shortcut icon')

    link(href='vendor/modernizr.js')

  body
