doctype html
head
    title Entrar
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style
      body    { padding-top:80px; }
  body
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Entrar
        //
           LOGIN FORM 
        form(action='/login', method='post')
          .form-group
            label Dirección de email
            input.form-control(type='text', name='email')
          .form-group
            label Contraseña
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Entrar
        hr
        p
          | ¿Quieres unirte? 
          a(href='/signup') Dar de alta
        p
          | Ir a  
          a(href='/') compart.io
          | 
